body{
    font-family: 'Nunito';
    margin: 0;
    padding: 0;
}

#rectangle{
    background: #F9BDBD;
    width: 770px;
    height: 800px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 100px;
    z-index: -1;
}

.navbar {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 120px;
}

#logo{
    display: flex;
}

#logo img{
    height: 30px;
}

#logo figcaption{
    font-size: 24px;
    font-weight: bold;
    color: #3E3F43;
    margin-left: 8px;
    letter-spacing: 0.25em;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0;
    margin-left: 110px;
    height: 30px;
}

.navbar ul li a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(34, 34, 34, 0.75);
    text-decoration: none;
}

.navbar ul li.active a{
    color: #DAA520;
}

.navbar ul li a.button{
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    border: 1px solid rgba(34, 34, 34, 0.75);
    border-radius: 8px;
    padding: 9px 36px;
}

header{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

header h1{
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: #313235;
}

header span{
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #3E3F43;
}

header button{
    color: white;
    background: #DAA520;
    border: none;
    border-radius: 4px;
    padding: 14px 24px;
}

.group25{
    position: absolute;
    z-index: -1;
    left: 900px;
    top: 400px;
}

#text{
    font-size: 36px;
    margin-left: 10px;
}
#logo-2{
    color:rgba (137, 121, 66, 0.5);
}

.line{
    margin-left: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2,500px);
    grid-template-rows: 380px;
    width: 500px;
    max-width: 500px;
}

.container img {
    margin-top: 30px;
}

#color-bg2{
    position: absolute;
    width: 280px;
    height: 400px;
    left: 180px;
    top: 970px;
    left: 400px;
    background: #F7DEA6;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    z-index: -1;
}

#section-text span {
    float: right;
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 20px;
 }
 
 #section-text p{
     font-size: 24px;
 }
    
.group25-1{
    position: absolute;
    z-index: -1;
    width: 382px;
    height: 382px;
    left: 200px;
    top: 1250px;
 }

.container-2{
    display: grid;
    grid-template-columns: 650px 350px;
    grid-template-rows: 380px;    
}

#section-text-2 span{
    float: left;
    font-size: 36px;
    margin-top: 130px;
    margin-bottom: 20px;
}
#section-text-2 p{
    font-size: 24px;
}

#spoons img{
    float: right;
}

#how-it-works button{
    color: white;
    background: #DAA520;
    border: none;
    border-radius: 4px;
    padding: 14px 24px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
    display: flex;
}

.container-3 {
    display: grid;
    grid-template-columns: repeat(3,280px);
    grid-template-rows: repeat(2,400px);
    grid-column-gap: 56px;
    grid-row-gap: 40px;
}

.color-bg3 {
    position: relative;
    width: 280px;
    height: 400px;
    background: #F9BDBD;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    z-index: -1;
    align-items: center;
}

.color-bg3 p{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    margin-left: 16px;
}

#sn-button {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #3E3F43;
    border-radius: 4px;
    background: none;
    padding: 8px 19px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#tile2 {
    background: #F7DEA6;
}

#tile2 img {
    padding-left: 20%;
}

#tile3 {
    background: #A8DCEC;
}

#tile3 img {
    padding-left: 20%;
}

#tile4 {
    background: #F9BDBD;
}

#tile4 img {
    padding-left: 24%;
}

#tile5 {
    background: #F7DEA6;
}

#tile5 img {
    padding-left: 8%;
    padding-top: 15%;
}

.container-4 {
    display: grid;
    grid-template-columns: 240px 240px 384px;
    grid-template-rows: 500px;
    grid-column-gap: 44px;
}

#test {
    height: 320px;
    width: 240px;
}

#review {
    height: 280px;
    width: 384px;
} 

.testimony nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

.testimony nav ul a{
    text-decoration: none;
    color: #000;
}

#prev a {
    color: #C4C4C4;
}

#next img {
    transform: rotate(-180deg);
}

.email {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 150px;
}

.email p {
    font-size: 18px;
    justify-content: center;
}

.email input {
    border: 1px solid #DAA520;
    border-radius: 2px;
    padding: 8px 24px;
    width: 330px;
    z-index: 0;
    margin-top: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.email button {
    color: white;
    background: #DAA520;
    border: none;
    border-radius: 4px;
    padding: 9px 24px;
    z-index: 1;
    margin-left: -30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

table img{
    z-index: -1;
}

section{
    width: 1000px;
    margin: 0 auto;
}

h2{
    font-weight: 800;
    font-size: 72px;
    text-align: right;
    color: rgba(34, 34, 34, 0.1);
    line-height: 98px;
}

.footer-line{
    width: 65%;
    outline: none;
    background-color: #C4C4C4;
    margin-top: 0px;
    margin-left: 14%;
    height: 1px;
    margin-bottom: 24px;
}

.footer-info{
    display: flex;
    justify-content: start;
    margin-left: 14%;
}

.text-gray{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 16px;
    color: #8D8D8D;
    display: block;
    text-decoration: none;
}

.text-gray:hover{
    text-decoration: none;
}

.logo-text{
    display: block;
}

.info-text{
    display: block;
    margin-top: 32px;
    margin-right: 52px;
}

.logotype{
    display: flex;
    margin-bottom: 16px;
    margin-top: 24px;
}

.logotype img{
    height: 30px;
}

.logotype figcaption{
    font-size: 24px;
    font-weight: bold;
    color: #3E3F43;
    margin-left: 0px;
    letter-spacing: 0.25em;
}

.info-title{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    margin-bottom: 16px;
}

.info-text-1{
    margin-left: 52px;
}

.image-bg{
    margin-top: -33px;
    width: 350px;
    height: 256px;
}

footer{
    background-color: #efefef;
}

.bg-color{
    background: linear-gradient(180deg, #FFFFFF 0%, #efefef 100%);

    padding-left: 14%;
}
