#logo{
    display: flex;
    align-items: center;
}
#logo img{
    width: 30px;
}
nav{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    margin-top: 29px;
    margin-bottom: 100px;
}
nav ul{
    list-style: none;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}
nav ul li.active a{
    color: #c29523;
}
nav ul li a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(34, 34, 34, 0.75);
}
body{
    font-family: 'Nunito';
}
nav ul li.button a{
    text-transform: uppercase;
    border: 1px solid rgba(62, 63, 67, 1);
    border-radius: 8px;
    padding: 9px 36px;
}
#logo figcaption{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.25em;
    color: #3E3F43;
    margin-left: 5px;
}