*{
	margin: 0;
	padding: 0;
}

.section-left{
	float: left;
	width: 40%;
	margin-top: 20px;
}

body{
	background-image: url(assets/new_background_1.png);
	background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.section-right{
	float: right;
	width: 60%;
	margin-top: 20px;
}
/*
.general_section{
	background-image: url(assets/new_background_1.png);
	background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}*/

.orar{
	display: block;
	margin-left: 40%;
	background: #FFF;
	padding: 15px;
}

.orar_text{
	font-size: 1.25rem;
    text-align: center;
    font-family: Arial,"Noto Sans";
    color: #666;
}

.buttons{
	display: flex;
	justify-content: space-between;
	margin-left: 40%;
	margin-top: 20px;
}

.button{
	display: block;
	background-color: white;
	line-height: 38px;
	padding: 0 28px;
}

.button:hover{
	background-color: #25975A;
	color: #FFF;
	cursor: pointer;
}

.b-text{
    font-size: 16px;
    font-weight: bold;
}

.search{
	display: flex;
	justify-content: start;
	margin-left: 40%;
	margin-top: 20px;
	font-size: 19px;
}

.icon{
	width: 50px;
    height: 50px;
	background: #FFF;
	cursor: pointer;
}

.input{
	width: 100%;
	margin-left: 0px;
    border: none;
    outline: none;
}

nav ul{
	margin-left: 40%;
	margin-top: 20px;
	height: 100px;
	overflow:hidden;
	overflow-y:scroll;
	background: #FFF;
}

nav li{
	color: #666;
	height: 25px;
	font-size: 16px;
	border-top: 1px solid #e5e5e5;
}

select{
	width: 60%;
	height: 50px;
	margin-top: 20px;
	margin-left: 40%;
	font-size: 16px;
}

.logo{
	margin: 20px auto;
	display: block;
}

.title{
	color: white;
    font-weight: 900;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.4;
}

.info{
	display: flex;
	justify-content: center;
	margin-top: 20px;
    margin-left: 40%;
}

.info_text{
	margin-left: 10px;
    margin-top: 2px;
	font-size: 12px;
	color: white;
    font-weight: 900;
}

.download{
	background-color: #25975A;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    width: 97px;
    height: 22px;
    font-size: 12px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10%;
    margin-right: 30px;
}

.download_img{
	width: 10px;
	height: 10px;
}

.download_img_2{
	width: 20px;
	height: 20px;
}

.buttons_2{
	margin-left: 40%;
	margin-top: 20px;
}

.d-text{
	line-height: 1.5;
    font-size: 10px;
    color: #fff;
}

.d-text_2{
	font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}

.buttons_2{
	display: flex;
	justify-content: start;
}

.student{
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	margin-right: 30px;
}

.exams{
	background: red;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 97px;
	height: 22px;
	padding: 0 20px;
	cursor: pointer;
}

.footer_text{
	color: #32d296;
	font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.footer{
	margin-top: 40px;
    margin-left: 40%;
}

.orar-small{
    background-color: white;
    text-align: center;
    color: white;
    max-width: 60%;
    margin-top: 20px;
    border: 1px rgb(255, 255, 255) solid;
    display: grid;
    grid-template-columns: 100px repeat(7, 1fr);
    grid-template-rows: repeat(8, 25px);
    margin-left: 40%;
}

.bg-green {
    background-color: #25975a;
    border: 1px white solid;
  }

.item-hover:hover {
    background-color: #e6e7a0;
	color: rgb(0, 0, 0);
	cursor: pointer;
}

.bg-white {
    border-right: 1px #666 solid;
    border-bottom: 1px #666 solid;
    cursor: pointer;
  }

.table_2{
  	background-color: white;
    text-align: center;
    color: white;
    max-width: 60%;
    border: 1px rgb(255, 255, 255) solid;
    display: grid;
    grid-template-columns: 100px repeat(1, 1fr);
    grid-template-rows: repeat(7, 50px);
    margin: 20px auto;
}
.table_2 div{
    text-align: center;
    padding: 6px;
}

.span{
    color: black
}
  